<div class="hero">
    {{ title_prefix }}
    {{ title_suffix }}
        {{ content.field_background_image }}
    <h1 class="flex flex-row flex-wrap justify-center text-cream text-h1 text-center max-w-screen-xl mx-auto mt-32 mb-5">
        {{ content.field_hero_title }}
    </h1>
    <h3 class="flex flex-row flex-wrap justify-center text-white text-lg text-center max-w-screen-xl mx-auto">
        {{ content.field_hero_subtitle }}
    </h3>
    <div>
        {{ content.field_hero_buttons }}
    </div>
</div>